<launch>
	<include file="$(find openni_launch)/launch/openni.launch" >
		<arg name="camera" default="xtion_camera" />
		<arg name="rgb_processing" value="false" />
		<arg name="depth_registration" value="false" />
		<arg name="depth_processing" value="true" />
	</include>
	
	<node name="cluster_extraction_nodelet" pkg="nodelet" type="nodelet" args="load cluster_extraction/ClusterExtraction /xtion_camera/xtion_camera_nodelet_manager"/>	
</launch>	
